/build/
/build*
build/
/CMakeLists.txt
/llvmbmc
/.cproject
/.project
/.z3-trace
./.vscode/
./.z3-trace
**/__pycache__/

.clangd
/examples/siddhesh_test/build/
/examples/siddhesh_test/llvmbmc
######## CSEQ ###########
_cs_*.c
_cs_*.log

######## PYTHON ###########
*.pyc

######## ARMCBMC ###########
tmp/
*.tr
